Perguntas:
- Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?
- Quantos gêneros cada filme tem, em média?
- Quais são os cinco filmes com maior número de gêneros?
- Quantos usuários deram nota para o filme "The Matrix"?
- Quantos usuários, em média, deram nota para cada filme?
- Quais são os cinco filmes para os quais mais usuários deram nota?
- Qual o rating médio do filme "The Matrix"?
- Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
- Para cada gênero de filme, quantos usuários deram cada nota possível?

Dicas:
1. Só é necessário as tabelas movies e ratings para este projeto.
2. Pesquise a função "explode" no pandas. Ela pode ser útil.

In [330]:
import pandas as pd
import numpy as np

In [331]:
df_movies = pd.read_table('movies.csv', sep=',')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [332]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [333]:
df_ratings = pd.read_table('ratings.csv', sep=',', keep_default_na=False)
df_ratings['userId'] = df_ratings['userId'].apply(str)
df_ratings.head()

  userId  movieId  rating  timestamp
0      1        1     4.0  964982703
1      1        3     4.0  964981247
2      1        6     4.0  964982224
3      1       47     5.0  964983815
4      1       50     5.0  964982931

In [334]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  object
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ MB

## Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

## Quantos gêneros cada filme tem, em média?

## Quais são os cinco filmes com maior número de gêneros?

## Quantos usuários deram nota para o filme "The Matrix"?

## Quantos usuários, em média, deram nota para cada filme?

## Quais são os cinco filmes para os quais mais usuários deram nota?

## Qual o rating médio do filme "The Matrix"?

## Cada filme tem um rating médio. Qual a média desses ratings, por gênero?

## Para cada gênero de filme, quantos usuários deram cada nota possível?