Perguntas:
- Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?
- Quantos gêneros cada filme tem, em média?
- Quais são os cinco filmes com maior número de gêneros?
- Quantos usuários deram nota para o filme "The Matrix"?
- Quantos usuários, em média, deram nota para cada filme?
- Quais são os cinco filmes para os quais mais usuários deram nota?
- Qual o rating médio do filme "The Matrix"?
- Cada filme tem um rating médio. Qual a média desses ratings, por gênero?
- Para cada gênero de filme, quantos usuários deram cada nota possível?

Dicas:
1. Só é necessário as tabelas movies e ratings para este projeto.
2. Pesquise a função "explode" no pandas. Ela pode ser útil.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_movies = pd.read_table('movies.csv', sep=',')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [4]:
df_ratings = pd.read_table('ratings.csv', sep=',', keep_default_na=False)
df_ratings['userId'] = df_ratings['userId'].apply(str)
df_ratings.head()

  userId  movieId  rating  timestamp
0      1        1     4.0  964982703
1      1        3     4.0  964981247
2      1        6     4.0  964982224
3      1       47     5.0  964983815
4      1       50     5.0  964982931

In [5]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  object
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.1+ MB

In [6]:
df = df_movies.merge(df_ratings, how='left', on='movieId')

## Quantos gêneros o filme "The Matrix" tem? Quais são os gêneros?

In [7]:
df_matrix = df_movies[df_movies['title'].str.contains('Matrix')]
df_matrix.head()

,movieId,title,genres
1939,2571,"Matrix, The (1999)",Action|Sci-Fi|Thriller
4351,6365,"Matrix Reloaded, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX
4639,6934,"Matrix Revolutions, The (2003)",Action|Adventure|Sci-Fi|Thriller|IMAX

#### O ID do filme The Matrix é 2571

In [8]:
df_matrix = df_movies[df_movies['movieId'] == 2571]

qty_genres_matrix = len(df_matrix['genres'].values[0].split('|'))
print('Quantidade de generos no filme Matrix:', qty_genres_matrix)

genres_matrix = df_matrix['genres'].values[0].split('|')
print('Quais os generos do file Matrix:', genres_matrix)

Quantidade de generos no filme Matrix: 3
Quais os generos do file Matrix: ['Action', 'Sci-Fi', 'Thriller']

## Quantos gêneros cada filme tem, em média?

## Quais são os cinco filmes com maior número de gêneros?

In [9]:
df_movies['qty_genre'] = df_movies['genres'].str.split('|').str.len()

most_qty_genre = df_movies.sort_values(by='qty_genre', ascending=False)
most_qty_genre = most_qty_genre[:5]
most_qty_genre = most_qty_genre[['title', 'qty_genre']]
most_qty_genre.head()

                                                  title  qty_genre
7441                                      Rubber (2010)         10
5556  Patlabor: The Movie (Kidô keisatsu patorebâ: T...          8
6626                                   Enchanted (2007)          7
2250                    Who Framed Roger Rabbit? (1988)          7
5819                                      Robots (2005)          7

#### Possuem outros filmes com 7 generos, além desses três

## Quantos usuários deram nota para o filme "The Matrix"?

## Quantos usuários, em média, deram nota para cada filme?

In [10]:
df_movie_avg_rating = df.drop_duplicates(['movieId', 'userId'])
df_movie_avg_rating = df_movie_avg_rating.groupby('movieId').count()
df_movie_avg_rating = df_movie_avg_rating[['userId']]
avg_rating = df_movie_avg_rating['userId'].sum() / df_movie_avg_rating['userId'].count()
avg_rating = round(avg_rating, 2)
print(f'Média: {avg_rating}')

Média: 10.35

## Quais são os cinco filmes para os quais mais usuários deram nota?

## Qual o rating médio do filme "The Matrix"?

In [11]:
df_matrix_ratings_avg = df[df['movieId'] == 2571]
df_matrix_ratings_avg = df_matrix_ratings_avg[['rating']]
df_matrix_ratings_avg = df_matrix_ratings_avg.values.mean()
df_matrix_ratings_avg = round(df_matrix_ratings_avg, 2)
print('Rating médio:', df_matrix_ratings_avg)

Rating médio: 4.19

## Cada filme tem um rating médio. Qual a média desses ratings, por gênero?

## Para cada gênero de filme, quantos usuários deram cada nota possível?

In [12]:
df_genero = df
df_genero['genres_split'] = df_genero['genres'].str.split('|')
df_genero = df_genero.explode('genres_split')
df_genero_each = df_genero.groupby(['genres_split', 'rating'])['userId'].count()
df_genero_each.head(50)

genres_split        rating
(no genres listed)  0.5          2
                    1.0          2
                    2.0          2
                    2.5          6
                    3.0          6
                    3.5          6
                    4.0          8
                    4.5          8
                    5.0          7
Action              0.5        449
                    1.0        904
                    1.5        577
                    2.0       2548
                    2.5       1777
                    3.0       6331
                    3.5       4153
                    4.0       7678
                    4.5       2468
                    5.0       3750
Adventure           0.5        306
                    1.0        627
                    1.5        415
                    2.0       1769
                    2.5       1352
                    3.0       4838
                    3.5       3285
                    4.0       6392
                    4.5       2027
                    5.0       3150
Animation           0.5         80
                    1.0        116
                    1.5         96
                    2.0        346
                    2.5        365
                    3.0       1279
                    3.5       1051
                    4.0       1988
                    4.5        682
                    5.0        985
Children            0.5        169
                    1.0        301
                    1.5        161
                    2.0        721
                    2.5        530
                    3.0       2054
                    3.5       1205
                    4.0       2358
                    4.5        648
                    5.0       1061
Comedy              0.5        632
Name: userId, dtype: int64